<h1>Add Employee</h1>
<% if flash[:notice] %>
    <% flash[:notice].each do |notice| %>
        <div class="notice"><%= notice %></div> 
    <% end %>
<% end %>
<%= form_for @employee do |f|%><br>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label :alias %><br>
    <%= f.text_field :alias%><br>
    <%= f.label :title %><br>
    <%= f.text_field :title%><br>
    <%= f.label :office %><br>
    <%= f.text_field :office %><br>
    <%= f.label :dog %><br>
    <%= f.select :dog, Dog.all.map {|dog| dog.name} %><br>
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %><br>
    <%= f.submit "Add Employee" %>
<% end %>

