<h1><%= @employee.display_name %></h1>

<h5><%= link_to "Edit Profile", edit_employee_path(@employee.id) %></h5>
<h5><%= link_to "All Employees", employees_path %></h5>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div> 
<% end %>
<% if @employee.img_url %>
    <%= image_tag(@employee.img_url) %>
<% end %>
<ul>
    <li>Alias: <%= @employee.alias %></li>
    <li>Title: <%= @employee.title %></li>
    <li>Dog: <%= @employee.dog.name %></li>
    <li>Office: <%= @employee.office %></li>
</ul>